<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
 </head>
 <body style="background-color:#ECECEC; font-family: Arial">
    <h1>Weather Comparison by City</h1>
    <div class="row">
        <div class="column" style="background-color:#93B0BD;">
            <h2 style="text-align:right">{{city1}} &nbsp</h2>
            <p style="text-align:right">
            {% for item in weather_string1%}
                <p style="text-align:right">{{item}} &nbsp</p>
            {% endfor %}
        </div>
        <div class="column" style="background-color:#BEBEBE;">
            <h2>&nbsp {{city2}}</h2>
            {% for item in weather_string2%}
                <p>&nbsp {{item}}</p>
            {% endfor %}

        </div>
    </div>
 </body>
</html>
