<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body style="background-color:#9BB6AB; font-family: Arial">
    <h1>Home Page!</h1>
    <p>Hello!</p>
</body>
</html>


<form target="_self" action="/comparetrial" method="post">
    <label for="city1">First City:</label><br>
    <input type="text" id="city1" name="city1" style="color: #869C93"><br>
    <label for="city2">Second City:</label><br>
    <input type="text" id="city2" name="city2" style="color: #869C93"><br>
    <input type="submit" value="Submit">
</form>